.portfolio-title{
    text-align: center;
    color: #086577;
}

.loading {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-42%, -25%);
  }

.slider-container{
    display: flex;
    justify-content: center;
}

.slider-image {
    width: 700px;
    height: 350px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .portfolio-title {
        font-size: 30px;
        margin-bottom: 20%;
    }
    .slider-image {
        width: 355px;
        height: 235px;
    }
}
@media screen and (min-width: 600px) and (max-width: 790px) {
    .portfolio-title {
        font-size: 30px;
    }
    .slider-image {
        width: 550px;
        height: 300px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px)  {
    .portfolio-title {
        font-size: 28px;
    }
}